[submodule "xcode/ish"]
	path = xcode/ish
	url = https://github.com/timechain-academy/ish.git
	branch = 66adb0fd3af8c47ac062a2be9dedd1aaf76ddb6d
[submodule "xcode/xcode-cross"]
	path = xcode/xcode-cross
	url = https://github.com:/timechain-academy/xcode-cross.git
