[submodule "xcode/ish"]
	path = xcode/ish
	url = git@github.com:timechain-academy/ish.git
	branch = 1668910901/dfd598f3/f0ffe639-APP-ENTITLEMENTS
[submodule "xcode/xcode-cross"]
	path = xcode/xcode-cross
	url = git@github.com:timechain-academy/xcode-cross.git
